/* This file contains initial configurations */

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all ease 0.3s;
  line-height: 1.4;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid black;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

